@import './variables';

@function alignment($align) {
    @return map-get($alignment-values, $align);
};

@function space-element($space) {
    @return map-get($static-element-space, $space);
};

@function set-flex-width($width) {
    @return map-get($flex-width, $width);
};

@function resolution($size) {
    @return map-get($resolution-names, $size);
};

/* set default card dimensions */
@mixin card-dimensions {
    width: 90%;
    max-width: 600px;
    min-width: 200px;
    margin: alignment("centered");
}

@mixin nav-link-no-decorate {
    color: white !important;
    text-decoration: none;
}

@mixin center-content-flex {
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin flex-full-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin flex-small {
    flex: set-flex-width("small");
    -ms-flex: set-flex-width("small");
    width: map-get($flex-width-single, "small")
}

@mixin flex-quarter {
    flex: set-flex-width("quarter");
    -ms-flex: set-flex-width("quarter");
    width: map-get($flex-width-single, "quarter")
}

@mixin flex-medium {
    flex: set-flex-width("medium");
    -ms-flex: set-flex-width("medium");
    width: map-get($flex-width-single, "medium")
}

@mixin flex-display($width, $justify){
    @if ($width == "small"){
        @include flex-small;
    }
    @else {
        @include flex-medium;
    }
    display: flex;
    justify-content: $justify;
}

@mixin full-width-flex {
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}