@import './variables';

@function alignment($align) {
    @return map-get($alignment-values, $align);
};

@function space-element($space) {
    @return map-get($static-element-space, $key: $space);
};

/* set default card dimensions */
@mixin card-dimensions {
    width: 90%;
    max-width: 600px;
    min-width: 200px;
    margin: alignment("centered");
}

@mixin nav-link-no-decorate {
    color: white !important;
    text-decoration: none;
}
