$global-font-weight: 350;
$table-header-font-weight: 600;
$primary-success-color: #198754;
$navigation-link-size: 20px;
$small-text-size: 12px;
$icon-text-min-width: 130px;
$solid-border: 1px solid black;
$dashboard-margin: 1rem 0;
$default-padding: 1rem;
$alignment-values: (
    "reset": 0,
    "centered": 0 auto
);
$static-element-space: (
    "nav": 10px
);
$flex-width: (
    "extra-small": 0 0 10%,
    "small": 0 0 20%,
    "quarter": 0 0 25%,
    "medium": 0 0 60%,
    "medium-large": 0 0 70%,
    "large": 0 0 100%
);
$flex-width-single: (
    "extra-small": 10%,
    "small": 20%,
    "quarter": 25%,
    "medium": 60%,
    "medium-large": 70%,
    "large": 100%
);
$resolution-names: (
    "small-mobile": 400px,
    "mobile": 500px,
    "tablet": 768px,
    "laptop": 992px,
    "desktop": 1200px
);