$global-font-weight: 350;
$primary-success-color: #198754;
$navigation-link-size: 20px;
$icon-text-min-width: 130px;
$alignment-values: (
    "reset": 0,
    "centered": 0 auto
);
$static-element-space: (
    "nav": 10px
);
$flex-width: (
    "small": 0 0 20%,
    "medium": 0 0 60%
);
$flex-width-single: (
    "small": 20%,
    "medium": 60%
)