$global-font-weight: 350;
$primary-success-color: #198754;
$navigation-link-size: 20px;
$icon-text-min-width: 130px;
$alignment-values: (
    "reset": 0,
    "centered": 0 auto
);
$static-element-space: (
    "nav": 10px
);
$flex-width: (
    "small": 0 0 20%,
    "quarter": 0 0 25%,
    "medium": 0 0 60%
);
$flex-width-single: (
    "small": 20%,
    "quarter": 25%,
    "medium": 60%
);
$resolution-names: (
    "mobile": 500px,
    "tablet": 768px,
    "laptop": 992px,
    "desktop": 1200px
);