@import './resets';
@import './variables';

.appWrapper {
    font-weight: $global-font-weight;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    
    .row {
        justify-content: center;
    }
}