@import './resets';
@import './variables';

.appWrapper {
    font-weight: $global-font-weight;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* min-height: 100vh; */
    
    .row {
        justify-content: center;
    }

    .table-header {
        font-weight: $table-header-font-weight;
        &:hover {
            background-color: lightyellow;
        }
    }

    .sortable-table-header {
        cursor: pointer;
    }

    .strong-border {border-top: $solid-border;}
    .align-flex-bottom {
        margin-top: auto;
    }

    .icon-button {
        padding-top: .25rem;
    }

    .centered-item {
        margin: $margin-centered;
    }
}

.margin-top-0 { margin-top: 0;}
.margin-top-1 { margin-top: 1rem;}
.margin-top-2 { margin-top: 2rem;}
.margin-top-3 { margin-top: 3rem;}


.padded-false {
    padding: 0;
}

.padded-true {
    padding-left: 12px;
    padding-right: 12px;
}