@import '../../styles/abstracts';
@import '../../styles/variables';

.profile-card {
    @include card-dimensions;
    padding: 0 !important;
}
.separator {
    border-bottom: 1px solid lightblue;
    width: 90%;
    margin-bottom: 1rem;
}

.text-reset { 
    font-size: 1rem;
    .form-control-file {
        width: 100%;
        max-width: 100%;
    } 
}

.alignTextLeft {
    text-align: left;
}

.relaign-react-boot-form-check {
    margin-left: 1rem;
    float: none;
}

.navbar-toggler {
    font-size: $default-padding !important;
    button {
        padding-left: 80px
    }
}

.navbar {
    justify-content: space-between !important;
}
.navbar-brand {
    padding: auto space-element("nav");
    font-size: 1.5rem;
    font-weight: 750;
}

.navLink, .navbar-brand {
    @include nav-link-no-decorate;
}

.navLink {
    font-size: $navigation-link-size;
    padding: 0 space-element("nav");
    &:active {
        color: red !important;
    }
    &:hover {
        color: orange !important
    }
}

/************* Profile styles *************/

.manage-permissions-toggle {
    text-decoration: underline;
    color: $BOOTSTRAP_PRIMARY;
}

.manage-permissions-save-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.gradient-profile {
    background: #C6FFDD;
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
}

.dropdownMenu {
    right: 0;
    .navLinkDropdown {
        color: black;
        font-size: 16px;
        text-decoration: none;
    }
}

.profile-header {
    font-weight: 400;
    font-size: 2rem;
}

.profile-form-row {
    @include flex-full-column;
    justify-content: flex-start;
    text-align: center;
    .profile-label-text {
        font-size: $default-padding;
        font-weight: 500;
    }
    .profile-label-col {
        flex: 0 0 auto;
        width: 100%;
        margin: alignment("centered")
    }
    .profile-control-col {
        flex: 0 0 auto;
        width: 100%;
        margin: alignment("centered");
    }
}

.toggle-goals-container {
    @include flex-full-column;
    @include set-flex-unbound(50%);
    justify-content: center;
    margin: alignment("centered");
    border-radius: .25rem;
    border: 1px solid lightgray;
    margin-bottom: 2px;
    padding: .25rem .75rem;
    &:hover {
        background-color: whitesmoke;
        border: 1px solid black;
        cursor: pointer;
    }
}

.profile-form-state-div { @include center-content-flex; }

.view-goals-row {
    @include flex-full-column;
    .view-goals-column {
        @include set-flex-container("medium");
        margin: alignment("centered");
    }
    .view-goals-button-column {
        @include set-flex-unbound("quarter");
        margin: $default-padding auto;
    }
}

/****************** Dashboard *******************/

.dashboard-chart-wrapper {
    width: 100%;
    height: auto;
}

.top-nav-body-wrapper {
    @include flex-full-column;
    justify-content: center;
    .top-nav-item {
        @include set-flex-container("large");
        min-width: $icon-text-min-width;
        .block-svg-wrapper {
            @include flex-full-column;
            align-items: center;
            justify-content: center;
            min-width: $icon-text-min-width;
            padding: 3%;
            .block-svg-item-icon {
                @include set-flex-unbound(30%, 0);
            }
            .block-svg-item-desc {
                @include set-flex-container("medium-large");
                text-align: center;
            }
        }
    }
}

.dash-icon-title {
    font-weight: bold;
    font-size: $small-text-size;
    color: gray;
}

#refresh-dashboard-button {
    padding-top: 4px !important;
}
#goal-progress-title-span {
    margin-left: 10px;
    margin-top: 5px;
}

.dashboard-top-container {
    @include flex-full-column;
    justify-content: center;
    .dashboard-top-header-container {
        @include full-width-flex;
        flex-direction: column;
    }
    .dashboard-top-refresh-container {
        @include full-width-flex;
        flex-direction: column;
    }
    .empty-div {
        @include set-flex-container("small");
    }
}

.dashboard-body {
    @include flex-full-column;
    justify-content: center;
    .dashboard-body-item, .dashboard-body-table, .dashboard-table-side-item {
        @include set-flex-container("large")
    }
    .dashboard-card {
        @include card-dimensions;
        width: 100%;
    }
    .dashboard-visual-wrapper {
        @include row-flex(center);
        margin-right: 5%;
        .visual-element {
            @include set-flex-unbound(45%, 0);
            align-items: center;
            display: flex;
            justify-content: flex-end;
            h2 {
                margin-bottom: 0.25rem;
            }
        }
        #dashboard-visual-title {
            margin-left: 2%;
        }
    }
    .goals-dashboard-element {
        @include set-flex-container("large", true);
    }
}
#dashboard-order-table {
    border: none;
    tr, td, th {
        border-bottom: none;
    }
}
.dashboard-table-card-header {
    background-color: white;
    border-bottom: none;
}

.dashboard-goal-progress-bar {
    margin-bottom: $default-padding;
}

/****************** Orders **********************/

.order-search-container {
    @include row-flex(center);
    margin-top: $default-padding;
    #search-bar-container {
        @include set-flex-container("medium");
        .select-dropdown-mobile-tablet {
            @include set-flex-unbound(50%, 0);
            margin: alignment("centered");
        }
    }
}
.order-table-disclaimer {
    padding-left: 16px !important;
    text-align: left !important;
    small {
        font-size: $small-text-size;
    }
}

// override v5 material css causing distortions 
.pagination-table {
    p {
        margin-bottom: 0 !important;
    }
    .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
        right: 0px !important;
    }
    .css-11bfvty-MuiToolbar-root-MuiTablePagination-toolbar {
        flex-direction: column !important;
    }
    .css-11bfvty-MuiToolbar-root-MuiTablePagination-toolbar .MuiTablePagination-actions {
        margin: 0 1rem 0 0px !important;
    }
    
    .css-levciy-MuiTablePagination-displayedRows {
        margin-right: 1rem !important;
    }
}

.order-receipt-error-container {
    width: 70%;
    margin: alignment("centered");
}

// change this to be mobile first
.order-receipt-body-container {
    @include row-flex(center, true);
    margin: alignment("centered");
    width: 100%;
    padding: 2rem;

    .receipt-header-container {
        @include flex-full-column;
        word-wrap: break-word;
        #main-lookup {
            font-weight: 700;
            word-wrap: anywhere;
        }
        .drop-headers {
            font-weight: 500;
        }
    }

    .receipt-body-container {
        @include full-width-flex;
        @include row-flex(center, true);
        min-height: 400px;
        align-content: flex-start;
    }

    .receipt-body-row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%;
        .receipt-body-item {
            @include set-flex-unbound(70%, 0);
            text-align: left;
        }
        .receipt-body-price {
            @include set-flex-unbound(30%, 0);
            text-align: right;
        }
        .receipt-payment {
            @include set-flex-container("large");
            justify-content: center;
        }
    }
}

/****************** Menus ***********************/

.menu-dropdown-container {
    @include flex-full-column;
    flex-wrap: wrap;
    padding: .5rem;
    justify-content: center;
    .menu-select {
        @include set-flex-container("medium");
        margin: 1rem auto;
    }
    .menu-focused {
        @include set-flex-container("large");
        @include row-flex(center, true);
        min-height: 500px;
        margin-top: 1.5rem;
        padding: $default-padding;
        align-content: flex-start;
        .menu-main-header {
            color: hotpink;
            margin: alignment("centered");
            @include set-flex-container("large");
            height: max-content;
            margin-bottom: .5rem;
        }
        .menu-section {
            @include set-flex-container("large");
            @include row-flex(center, true);
            margin-bottom: 1.5rem;
            word-break: break-word;
            .menu-item-column {
                @include set-flex-unbound(100%, 0);
                font-size: 1.2rem;
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                .item-col {font-weight: 600;}
            }
        }
    }
    .blank-menu {
        @include set-flex-container("large");
    }

    .menu-loading-container {
        width: 60%;
        justify-content: center;
        margin: 1rem auto;
    }

    .add-section-button-container {
        @include set-flex-unbound(90%, 0);
        border-top: 1px solid lightblue;
    }

    .add-section-form-container {
        @include set-flex-container("large");
    }

    .menu-new-button {
        width: 90% !important;
        max-width: 200px;
        text-align: center;
    }

    .add-item-button-container {
        @include set-flex-unbound(90%, 0);
    }

    .new-item-form-container {
        @include set-flex-container("large");
        margin: alignment("centered");
    }
}

.menu-home-main-container {
    @include flex-full-column;
    margin: alignment("centered");
    justify-content: center;
    .menu-home-main-paper {
        @include row-flex(center, true);
        @include set-flex-container("large");
        margin: $dashboard-margin;
        padding: 2rem;
        min-height: 325px;
        align-items: center;
        &:hover {
            cursor: pointer;
            opacity: .7;
        }
    }
    .view-edit-menu-styles {
        background-color: #ff7043;
    }
    .create-home-screen-styles {
        background-color: $primary-success-color;
        word-wrap: break-word
    }
}

.add-remove-menu-btn-containers {
    @include flex-full-column;
    @include set-flex-container("large");
    align-items: center;
    .button-item {
        width: 70%;
    }
}

/****************** Inventory *******************/

.inventory-paper-container {
    width: 100%;
    margin: 3rem auto;
}

.search-inventory-input-container {
    margin: alignment("centered");
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    .search-combined-filter-container {
        @include set-flex-container("large");
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .search-inventory-input {
        @include set-flex-unbound(60%);
        text-align: center;
    }
    .add-inventory-item-container {
        @include set-flex-unbound(100%);
        text-align: center;
    }
    .filter-inventory-container {
        @include set-flex-unbound(35%);
        display: flex;
        justify-content: center;
    }
}

.inventory-editable-row-in {
    margin: alignment("centered");
    width: 100%;
}
.inventory-table-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.inventory-modal-styles {
    padding: 1rem;
    max-width: 500px;
    min-width: 210px;
    text-align: center;
    border-radius: 10px;
}

.dialog-action-button-overrides {
    padding-top: 3px;
}

.dialog-action-loading-container {
    width: 75%;
    margin: 1rem auto;
}

.not-found-link-container {
    text-align: left;
    @include full-width-flex;
}

/****************** Queries *********************/

@media screen and (min-width: resolution("small-mobile")) {

    // show pagination in row until greater than 400px
    .pagination-table {
        .css-11bfvty-MuiToolbar-root-MuiTablePagination-toolbar {
            flex-direction: row !important;
        }
    }
    .menu-dropdown-container {
        .menu-new-button {
            width: 60% !important;
        }
    }
}

@media screen and (min-width: resolution("mobile")) {
    .navbar {
        justify-content: space-between !important;
    }
    .navbar-brand {
        margin: 0;
    }
    .top-nav-body-wrapper {
        @include row-flex(space-between);
        .top-nav-item {
            @include set-flex-container("quarter");
            flex-direction: row;
            .block-svg-wrapper {
                flex-direction: row;
                .block-svg-item-desc {
                    text-align: left;
                }
            }
        }
    }
    .toggle-goals-container { @include set-flex-unbound(15%, 0) }
    .dashboard-top-container {
        flex-direction: row;
        justify-content: space-between;
        .dashboard-top-header-container {
            @include flex-display("medium", center);
            flex-direction: row;
        }
        .dashboard-top-refresh-container {
            @include flex-display("small", flex-end);
            flex-direction: row;
        }
        .empty-div {
            @include set-flex-container("small");
        }
    }
    .dashboard-body {
        flex-direction: row;
        justify-content: space-between;
        .dashboard-body-item {
            @include set-flex-unbound(31.5%, 0);
        }
        .bottom-row-item {
            @include set-flex-unbound(48.5%, 0);
        }
        .dashboard-card {
            max-width: 1000000px;
        }
        .dashboard-body-table {
            @include set-flex-unbound(65%, 0);
        }
        .dashboard-table-side-item {
            @include set-flex-unbound(32%, 0);
        }
    }
    .view-goals-row {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        .view-goals-column {
            @include set-flex-container("quarter");
        }
        .view-goals-button-column {
            @include set-flex-unbound(10%);
        }
    }
    .order-receipt-error-container {
        width: 31%;
    }
    .order-receipt-body-container {
        width: 75%;
        .receipt-body-item { flex: 0 0 80%; }
        .receipt-body-price { flex: 0 0 20%; }
    }
    .separator {width: 80%;}
    .menu-dropdown-container { 
        .add-section-form-container {
            @include set-flex-container("medium-large");
        }
        .add-section-button-container, .new-item-form-container, .add-item-button-container {
            @include set-flex-unbound(80%, 0);
        }
    }
    .menu-home-main-container {
        @include row-flex(space-around, true);
        align-items: flex-start;
        .menu-home-main-paper {
            @include row-flex(center, true);
            @include set-flex-unbound(60%, $dashboard-margin);
        }
    }
    .search-inventory-input-container {
        margin: 3rem auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .search-inventory-input {
            @include set-flex-unbound(80%);
            text-align: left;
        }
        .add-inventory-item-container {
            @include set-flex-unbound(20%);
            text-align: center;
            display: flex;
            justify-content: flex-end;
        }
        .filter-inventory-container {
            @include set-flex-unbound(20%);
            display: flex;
            justify-content: flex-start;
            .form-control {
                width: 75%;
            }
        }
            .search-inventory-input {
                @include set-flex-unbound(45%);
                text-align: left;
            }
        }
}

/* to prevent mobile landscape chart distortions */
@media screen and (min-width: resolution("mobile")) and (max-width: 700px) {
    .dashboard-body {
        justify-content: center;
        .dashboard-body-item, .dashboard-body-table, .dashboard-table-side-item {
            @include set-flex-container("medium-large");
            margin: $dashboard-margin;
        }
        .goals-dashboard-element {
            @include set-flex-container("medium-large", true);
            margin: $dashboard-margin;
        }
    }
    .toggle-goals-container { @include set-flex-unbound(21%, 0) }
    
}

@media screen and (min-width: resolution("tablet")) {
    .profile-form-row {
        flex-direction: row;
        .profile-label-col {
            width: 20%;
            text-align: left;
        }
        .profile-control-col {
            width: 70%;
        }
    }

    .form-label {
        margin-bottom: 0;
        padding-top: .5rem;
    }
    
    .order-receipt-body-container {
        width: 45%;
    }
    .menu-dropdown-container {
        flex-direction: row;
        padding: $default-padding;
        justify-content: space-around;
        .menu-select {
            @include set-flex-container("small");
            margin: 0;
            margin-top: $default-padding;
        }
        .menu-focused {
            @include set-flex-unbound(70%, 0);
            margin-top: $default-padding;
            .menu-section {
                @include set-flex-container("large");
                justify-content: space-evenly;
                .menu-item-column {
                    @include set-flex-unbound(45%, 0);
                }
            }
        }
    }
    .menu-home-main-container {
        width: 90%;
        .menu-home-main-paper {
            @include set-flex-unbound(44%, $dashboard-margin);
        }
    }
    .inventory-table-buttons {
        flex-direction: row;
    }
}

@media screen and (min-width: resolution("laptop")){
    .menu-dropdown-container {
        .menu-focused {
            .menu-section {
                .menu-item-column {
                    @include set-flex-unbound(30%, 0);
                }
            }
        }
        .new-item-form-container {
            @include set-flex-container("medium")
        }
    }
    
    .add-remove-menu-btn-containers {
        @include row-flex(center, true);
        .button-item {
            width: 45%;
        }
    }
    .inventory-paper-container { width: 90%; }
}

@media screen and (min-width: resolution("desktop")){
    .order-receipt-body-container {
        width: 30%;
        max-width: 40%;
    }
    .menu-home-main-container {
        width: 80%;
        .menu-home-main-paper {
            @include set-flex-unbound(34%, $dashboard-margin);
        }
    }
    .inventory-paper-container { width: 75%; }
}