@import '../../styles/abstracts';
@import '../../styles/variables';

.profile-card {
    @include card-dimensions;
    padding: 0 !important;
}

.alignTextLeft {
    text-align: left;
}

.navbar-toggler {
    font-size: 1rem !important;
    button {
        padding-left: 80px
    }
}

.navbar {
    justify-content: space-between !important;
}
.navbar-brand {
    padding: auto space-element("nav");
    font-size: 1.5rem;
    font-weight: 750;
}

.navLink, .navbar-brand {
    @include nav-link-no-decorate;
}

.navLink {
    font-size: $navigation-link-size;
    padding: 0 space-element("nav");
    &:active {
        color: red !important;
    }
    &:hover {
        color: orange !important
    }
}

/************* Profile styles *************/
.gradient-profile {
    background: #C6FFDD;
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
}

.dropdownMenu {
    right: 0;
    .navLinkDropdown {
        color: black;
        font-size: 16px;
        text-decoration: none;
    }
}

.profile-header {
    font-weight: 400;
    font-size: 2rem;
}

.profile-form-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    .profile-label-text {
        font-size: 1rem;
        font-weight: 500;
    }
    .profile-label-col {
        flex: 0 0 auto;
        width: 100%;
        margin: alignment("centered")
    }
    .profile-control-col {
        flex: 0 0 auto;
        width: 100%;
        margin: alignment("centered");
    }
}

.profile-form-state-div {
    @include center-content-flex;
}

/****************** Dashboard *******************/

.dashboard-chart-wrapper {
    width: 100%;
    height: auto;
}

.top-nav-body-wrapper {
    @include flex-full-column;
    justify-content: center;
    .top-nav-item {
        flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        width: 100%;
        min-width: $icon-text-min-width;
        .block-svg-wrapper {
            @include flex-full-column;
            align-items: center;
            justify-content: center;
            min-width: $icon-text-min-width;
            padding: 3%;
            .block-svg-item-icon {
                flex: 0 0 30%;
                -ms-flex: 0 0 30%;
                width: 30%;
            }
            .block-svg-item-desc {
                flex: 0 0 70%;
                -ms-flex: 0 0 70%;
                width: 70%;
                text-align: center;
            }
        }
    }
}

.dash-icon-title {
    font-weight: bold;
    font-size: 12px;
    color: gray;
}

#refresh-dashboard-button {
    padding-top: 4px !important;
}

.dashboard-top-container {
    @include flex-full-column;
    justify-content: center;
    .dashboard-top-header-container {
        @include full-width-flex;
        flex-direction: column;
    }
    .dashboard-top-refresh-container {
        @include full-width-flex;
        flex-direction: column;
    }
    .empty-div {
        @include set-flex-container("small");
    }
}

.dashboard-body {
    @include flex-full-column;
    justify-content: center;
    .dashboard-body-item {
        flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        width: 100%;
    }
    .dashboard-card {
        @include card-dimensions;
        width: 100%;
    }
}

/****************** Queries *********************/

@media screen and (min-width: resolution("mobile")) {
    .navbar {
        justify-content: space-between !important;
    }
    .navbar-brand {
        margin: 0;
    }
    .top-nav-body-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .top-nav-item {
            @include set-flex-container("quarter");
            flex-direction: row;
            .block-svg-wrapper {
                flex-direction: row;
                .block-svg-item-desc {
                    text-align: left;
                }
            }
        }
    }
    .dashboard-top-container {
        flex-direction: row;
        justify-content: space-between;
        .dashboard-top-header-container {
            @include flex-display("medium", center);
            flex-direction: row;
        }
        .dashboard-top-refresh-container {
            @include flex-display("small", flex-end);
            flex-direction: row;
        }
        .empty-div {
            @include set-flex-container("small");
        }
    }
    .dashboard-body {
        flex-direction: row;
        justify-content: center;
        .dashboard-body-item {
            flex: 0 0 45%;
            -ms-flex: 0 0 45%;
            width: 45%;
            margin: 1rem;
        }
    }
}

@media screen and (min-width: resolution("tablet")) {
    .profile-form-row {
        flex-direction: row;
        .profile-label-col {
            width: 20%;
            text-align: left;
        }
        .profile-control-col {
            width: 70%;
        }
    }

    .form-label {
        margin-bottom: 0;
        padding-top: .5rem;
    }
}