@import '../../../styles/abstracts';

.home-input-container {
    @include flex-full-column;
    text-align: start;
    padding: 12px;
    justify-content: space-between;
    #restaurant-name-input, .home-links-input  {
       input {
        max-width: 488px;
       }
    }
    .home-links-input {
        word-break: break-all;
    }
    #restaurant-name-input {
        @include flex-full-column;
        @include set-flex-container("large");
        .button-styles {
            align-self: center;
            margin-top: .5rem;
        }
    }
    .home-description-input {
        textarea {
            max-width: 700px;
        }
    }
    .input-container {
        h1 {
            margin-bottom: 0;
            margin-right: 1rem;
        }
    }

    .home-description-display {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-flow: inherit;
        flex: 0 0 60%;
        margin-top: 1rem;
        align-content: flex-start;
        .home-text-desc-display {
            word-break: break-all;
            word-wrap: break-word;
        }
    }
    .display-edit-button {
        @include center-button-50px;
    }

    .home-description-head-container {
        @include flex-full-column;
        @include set-flex-container("large");
        align-items: flex-start;
        align-self: flex-start;
    }

    .name-button-state-container {
        align-self: center;
    }

    .description-input-button-container, .link-edit-container {
        display: flex;
        .display-edit-button { margin-left: .5rem}
    }
    .link-edit-container { flex-direction: row;}

    .home-label-text {
        font-size: 1.25rem;
        margin-right: 1rem;
    }
    .spinner-align-center {
        align-self: center;
        margin-left: 0;
    }
    .spinner-align-desc {
        align-self: center;
        margin-top: .5rem;
    }
    .save-disc-desc { margin-top: .5rem;}

    .error-input-box {
        border-color: #dc3545;
        padding-right: calc(1.5em + 0.75rem);
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        &:focus {
            box-shadow: none
        }
    }
}

.background-photo-input {
   // background-image: url('https://linkedassets.s3.amazonaws.com/camping.jpg');
    background-color: darkcyan;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    // keep here for wider screens
    padding-bottom: 33.33%;
}

@media screen and (min-width: resolution("mobile")){
    .home-input-container {
        #restaurant-name-input {
            @include row-flex(left);
            .button-styles {
                align-self: $align-end;
                margin: 0;
            }
        }
        .home-description-display {
            margin-right: 3%;
        }
        .display-edit-button {
            margin: 0;
        }
        .home-description-head-container {
            @include row-flex(left);
            width: 60%;
        }
        .name-button-state-container {
            align-self: flex-end;
        }
        .spinner-align-center {
            align-self: flex-end;
            margin-left: 2rem;
        }
    }
}
@media screen and (min-width: resolution("tablet")) {
    .home-input-container {
        flex-direction: row;
        flex-wrap: wrap;
        .home-links-input {
            @include set-flex-unbound(30%);
        }
        .home-description-input {
            @include set-flex-unbound(65%);
            margin-right: 3%;
            textarea {
                 max-width: 750px;
            }
        }
    }
}