@import '../../styles/variables';
@import '../../styles/abstracts';

#sign-up {
    text-align: left;
}

.card-wrapper {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    margin: alignment("centered");
}